@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F4EFE6] text-[#050505] overflow-x-hidden antialiased;
  }
}

@layer utilities {
  .bg-grain {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.06'/%3E%3C/svg%3E");
  }
  
  .hard-shadow {
    box-shadow: 8px 8px 0px 0px #050505;
  }
  
  .hard-shadow-sm {
    box-shadow: 4px 4px 0px 0px #050505;
  }
}
